version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file: .env

  frontend:
    build: ./frontend
    ports:
      - "3001:3001"

  db:
    image: postgres:14
    volumes:
      - ./db/data:/var/lib/postgresql/data
    env_file: .env
