@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-slate-100 antialiased;
}

.glass-panel {
  @apply bg-slate-900/80 backdrop-blur-xl border border-slate-800 shadow-glass rounded-2xl;
}
